<div class="signup">
    <app-header></app-header>
    <form class="form-signup">
        <h2>Criar Conta</h2>
        <input type="text" name="name" placeholder="Digite seu nome">
        <input type="date" name="date">
        <input type="email" name="email" placeholder="Digite seu e-mail">
        <input type="password" name="password" placeholder="Digite sua senha">
        <input type="text" name="department" placeholder="Digite o nome do seu departamento">
        <input type="number" name="totalInstallments" placeholder="Número de parcelas">
        <input type="number" name="totalPaid" placeholder="Parcelas pagas">

        <button>Cadastrar</button>
    </form>
    <footer class="footer"></footer>
</div>