/* You can add global styles to this file, and also import other style files */
@import "../src/app/styles/colors.scss";

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="date"],
input[type="number"] {
  border: none;
  outline: none;
  margin-top: 30px;
}

button {
  background-color: $primary;
  line-height: 50px;
  color: $white;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  padding: 0px 16px;

  &:hover {
    opacity: 0.9;
  }
}
